<div class="row-fluid">
  <div class="span12">
    <div class="post post-{{post.post_type}}" id="post-{{post.ID}}">
      {% block content %}
        <!-- Post Title -->
        <div class="row-fluid">
          <div class="span12 post-title">
            <h1><a href="{{post.permalink}}">{{post.title}}</a></h1>
          </div>
        </div>
        <!-- Post Meta -->
        <div class="row-fluid">
          <div class="span12">
            <div class="comments">
              <a href="{{post.permalink}}" title="comments">{{post.get_field('show_date_short')}}</a>
            </div>
            <div class="post-meta">
              <span class="user">postado por {{post.author.name}}</span>
              <span class="date">{{post.display_date}}</span>
            </div>
          </div>
        </div>
        {% if post.get_field('featured_media') != "Nenhum" %}
        <!-- Post featured Media -->
        <div class="row-fluid">
          <div class="span12  post-image">
            {% include ['post-featured-media.twig'] %}
          </div>
        </div>
        {% endif %}
        <!-- Post content -->
        <div class="row-fluid">
          <div class="span12">
            {% if post.get_field('intro_text') %}
              <p class="intro">{{post.get_field('intro_text')}}</p>
            {% endif %}
            {{post.content}}
          </div>
          <a href="{{post.permalink}}">saiba +</a>
        </div>
      {% endblock %}
    </div>
  </div>
</div>